.app-header {
	height: 60px;
	line-height: 60px;
	border-bottom: thin lightgrey solid;
	display: flex;
	flex-direction: column;
}

	.app-header .app-header--title {
		font-size: 22px;
		padding-left: 5px;
	}

.map {
	display: flex;
	flex-direction: column;
}
.graphSurfaceProduction {
	display: flex;
	flex-direction: row;
	box-sizing: content-box;
}

.graphConstructeur {
	display: flex;
	flex-direction: row;
}

.polarGraph, .pente_orientation, .blocSlider, .fig1Config, .nombrePanneaux, .blocConstructeur {
	border-style: solid;
	margin: 3px;
}

.main {
	display: flex;
	flex-direction: column;
}

	